@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 text-center">
    <h1>Bem-vindo ao Tech!</h1>
    <div class="mt-4" data-bs-theme=dark>
        <img src="~/img/logo.png" alt="Logo EstudaConcursos" class="img-fluid logo-dark" style="max-width: 500px;" />
        <img src="~/img/inicialbranco.png" alt="Logo EstudaConcursos" class="img-fluid logo-light" style="max-width: 500px;" />
    </div>
</div>

