@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container mt-5 text-center">
    <h1>Bem-vindo!</h1>
    
    <div class="mt-4">
        <img src="~/img/Inicialbranco.png" alt="Logo EstudaConcursos" class="img-fluid" style="max-width: 500px;" />
    </div>
</div>
